[user]
	email = nattakit.boonyang@gmail.com
	name = Nattakit Boonyang
[core]
	editor = nvim
	ignorecase = false
	autocrlf = input
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[color]
	ui = auto
