[user]
	email = nattakit.boonyang@gmail.com
	name = Nattakit Boonyang
[core]
	editor = vim
	ignorecase = false
	autocrlf = input
	pager = cat
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	lp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[icdiff]
	options = --highlight --line-numbers
[diff]
	external = icdiff
