[user]
	email = nattakit.boonyang@gmail.com
	name = Nattakit Boonyang
[core]
	editor = vim
	ignorecase = false
	autocrlf = input
	pager = cat
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	logPretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	statusStagedOnly = status -uno
[icdiff]
	options = --highlight --line-numbers
[color]
	ui = auto
[cinnabar]
	version-check = 1693228181
