" enable plugins
set commentary
set surround
set NERDTree
set ideajoin

" line number
set number
set relativenumber

set hlsearch
set showcmd
set showmode

" search text
set ignorecase
set smartcase
set iskeyword+=-

" display
set visualbell
set wrapscan
set clipboard=ideaput

" set handler
sethandler n:vim
sethandler <C-I> i:ide
sethandler <C-R> i:ide

" map custom keys
nnoremap x "_x
nnoremap dw vb"_d

" remove remapping key for arrow keys
cnoremap <Down> <Nop>
cnoremap <Left> <Nop>
cnoremap <Right> <Nop>
cnoremap <Up> <Nop>
inoremap <Down> <Nop>
inoremap <Left> <Nop>
inoremap <Right> <Nop>
inoremap <Up> <Nop>
nnoremap <Down> <Nop>
nnoremap <Left> <Nop>
nnoremap <Right> <Nop>
nnoremap <Up> <Nop>
vnoremap <Down> <Nop>
vnoremap <Left> <Nop>
vnoremap <Right> <Nop>
vnoremap <Up> <Nop>
